.register__container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2%;
  left: 25%;
  height: 96%;
  width: 50%;
  border: 1px solid white;
  border-radius: 3px;
}

.register__form h2 {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.register--form__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.register--form__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.register--form__data label {
  display: flex;
  flex-direction: column;
}

.register--form__data span {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.register__account {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__account select {
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border-width: 0 0 1px;
  border-color: white;
  width: 100%;
}

.register__account select option {
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.register--form__btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.register--form__btn button {
  background-color: transparent;
  padding: 0.5rem 2rem;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
}

.register--form__details p {
  display: flex;
  flex-direction: row;
}

.register--form__details p a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: .5rem;
}
