.profile--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.profile--container__header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 5%;
}

.profile--container__body {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.profile--header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid white;
}

.profile--body__sidebar {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-right: 1px solid white;
}

.profile--body__content {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 100%;
}

.profile--sidebar__container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.profile--sidebar__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.profile--sidebar__avatar span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.profile--sidebar__avatar span img {
  border-radius: 50%;
}

.profile--sidebar__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.profile--sidebar__account {
  padding-bottom: .5rem;
  border-bottom: 1px solid white;
}

.profile--sidebar__account span {
  color: gainsboro;
}

.profile--sidebar__account p {
  cursor: pointer;
  background-color: grey;
  margin: .5rem 0;
}

.profile--sidebar__application {
  padding-bottom: .5rem;
  border-bottom: 1px solid white;
}

.profile--sidebar__application span {
  color: gainsboro;
}

.profile--sidebar__application p {
  margin: .5rem 0;
  cursor: pointer;
}

.profile--sidebar__pages span {
  color: gainsboro;
}

.profile--sidebar__pages p {
  margin: .5rem 0;
  cursor: pointer;
}

.tab--active {
  background-color: blue;
}

.tab {
  background-color: none;
}

.view--service {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: azure;   
  padding: 1rem 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ;
}

.profile--data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.profile--data__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  border: 1px solid white;
  border-radius: 5px;
}

.profile--data__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-bottom: 1px solid white;

}

.profile--data__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 1rem;
}

.profile--data__body--about {
  padding-bottom: 5rem;
  border-bottom: 1px solid white;
}

.profile--data__body--contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid white;
}

.profile--data__body--contact span {
  font-size: 200%;
};